 @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");


*{

  list-style: none;
  list-style-type: none;
  text-decoration: none;
  color: black;

}

.nav-link{

  color: black;
  list-style: none;
}

.nav-item{

  text-decoration: none;
  list-style: none;
}

.autocomplete {
 
  position: relative;
  display: inline-block;
}

input{

  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;

}






.results-list ul li a{

  text-decoration: none;
  color: black;
}

a{
  color: black;
}