
.body{
  background-color: #91eea7;
} 


/* ACCEUIL */


#h1index{
  margin-top: 5%;
  margin-left: 5%;
}

#h2index{
  margin-left: 5%;
}

#articleindex{
  margin-left: 5%;
  margin-right: 5%; 
  margin-top: 2%;  
  background-color: rgb(145, 238, 167);
  border-radius: 30px;
  
}

/* FIN ACCUEIL */




/* CAROUSSEL */


#caroussel{
  width: 960px;
  height: 540px;
  overflow: hidden;
  border: 2px solid #333;
  margin-left:5%; 
  margin-top:2%; 
}

.images{
  display:flex;
  animation-duration: 20s;
  animation-name: mesImages;
  animation-iteration-count: infinite;
}

@keyframes mesImages{
  0%{
    transform: translateX(-0px);
  }
  25%{
    transform: translateX(-960px);
  }
  50%{
    transform: translateX(-1920px);
  }
  75%{
    transform: translateX(-2879px);
  }
  100%{
    transform: translateX(-0);
  }
}

/* FIN CAROUSSEL */