
body{
    
    font-size: 20px;
}

main{
    
    display: flex;
    flex-wrap: wrap;
    margin-right: 2%;

}
 


.produits{


    text-align: center;
    margin-top: 10%;
}

.produits form a {

    text-align: center;
}


.prix{

    color: red;

}

.produits .prix{

    text-align: center;

}