
body{

    font-size: 20px;
    
}

main{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 2%;

}
 
.categorie ,a { 
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    
}

.produits{

    margin-top: 10%;
}